.fic{
    font-size: 40px;
    font-weight: 600;
    color: #041f6e;
}
.uu{
    font-size: 20px;
}
.course{
    background-color: #fff;
    color: white;
    padding: 10px 16px;
    border: 2px solid #041f6e;
    border-radius: 10px;
    font-weight: 600;
    color: #041f6e;
    text-transform: capitalize;
    align-items: center;
    gap: 4px;
    display: flex;
}
.selected-course {
    background-color: #041f6e; 
    color: #fff; 
  }
.xx{
    font-size: 17px;
    margin-top: 100px;
}
.cae{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
}
.cae button{
    white-space: nowrap;
    margin: 6px 0;
}
.po{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #041f6e;
    font-weight: 600;
    padding: 20px 15px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}
