/* .papi:focus-within{
    background-color: rgba(255,255,255,0.17);
} */
.papi{
    width: 100%;
    font-size: 17px;
    font-family: "Roboto" sans-serif;
}
/* .mara{
    height: 90.2vh;
} */
.sass{
    width: 150px;
    height: 50px;
}
.pros{
    height: 100vh;
}