@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
.bubo{
    height: 300px;
    outline: none;
    background-color: white;
    border-radius: 6px;
    font-family: 'Nova Flat', cursive;
    padding: 10px;
    border: 1px solid silver;
    margin-top: 16px;
    width: 100%;
}
.loader button{
    color: white;
    padding: 5px 15px;
    border-radius: 6px;
    background-color: #081a51;
}
.bubo:focus-within{
    border: 2px solid #081a51;
}
.loader{
    padding: 0 20px;
    text-align: right;
}
@media (max-width: 600px) {
    .foster{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .sete{
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        /* background-color: aqua; */
    }
}