@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.bfr{
    width: 100%;
}
.lol{
    text-transform: capitalize;
}
::selection {
    background-color: #181825;
    color: white;
}

a {
    text-decoration: none;
}

.cop {
    color: white;
    background-color: #181825;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.137);
}

.baff {
    margin-top: -10px;
    font-size: 30px;
    color: #181825;
}

.pcb {
    border-radius: 10px;
    transition: all 0.5s linear;
    overflow: hidden;
    white-space: nowrap;
}

.pcb:hover {
    background-color: rgba(255, 255, 255, 0.151);

}

.pab {
    text-transform: uppercase;
}

.name {
    color: #6c7585;
}

.und {
    border-bottom: 1px solid #6c758552;
    height: 40px;
    font-size: 18px;
    padding: 10px 15px;
}

.each {
    width: 300px;
    /* height: 80px; */
    align-items: center;
    padding: 9px;
    display: flex;
}

.each p:nth-child(1) {
    font-weight: 500;
}

.each span {
    font-size: 13px;
}

.cd {
    font-weight: 500;
}

.shift {
    margin-top: -14px;
    font-size: 13px;
}

.side {
    width: 300px;
    overflow: auto;
    /* height: 90.2vh; */
    background-color: #1d2345;
}

.yup {
    width: 50px;
    border-radius: 50%;
}

.elon {
    margin-top: -20px;
}

.gog:hover {
    background-color: rgba(255, 255, 255, 0.212);
    transition: all 0.5s linear;
}

/* .mara {
    height: 90.2vh;
    width: 100%;
} */

.baffe {
    height: 90.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baffe p {
    font-size: 30px;
    font-weight: 700;
}

.pp {
    background-color: #f3f2ef;
}
.from, .date, .noticee, .time{
    font-family: "Poppins", sans-serif;
}
.time{
    width: 100%;
    text-align: right;
    font-family: cursive;
}


.lds-ellipsisw {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsisw div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsisw div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsisw1 0.6s infinite;
  }
  .lds-ellipsisw div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsisw2 0.6s infinite;
  }
  .lds-ellipsisw div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsisw2 0.6s infinite;
  }
  .lds-ellipsisw div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsisw3 0.6s infinite;
  }
  @keyframes lds-ellipsisw1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsisw3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsisw2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  






  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1d2345 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }











/* Media Queries */
@media (max-width: 950px) {
    .alone {
        flex-wrap: wrap;
    }

    .each {
        width: 45%;
    }
}

@media (max-width: 647px) {
    .each {
        width: 100%;
    }
}