@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#root{
    overflow-y: hidden;
}
.cc{
    overflow: hidden;
}
::selection {
    background-color: #181825;
    color: white;
}

a {
    text-decoration: none;
}

.cop {
    color: white;
    background-color: #181825;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.137);
}

.baff {
    margin-top: -10px;
    font-size: 30px;
    color: #181825;
}

.pcb {
    border-radius: 10px;
    transition: all 0.5s linear;
    overflow: hidden;
    white-space: nowrap;
}

.pcb:hover {
    background-color: rgba(255, 255, 255, 0.151);

}

.pab {
    text-transform: uppercase;
}

.name {
    color: #6c7585;
}

.und {
    border-bottom: 1px solid #6c758552;
    height: 40px;
    font-size: 18px;
    padding: 10px 15px;
}

.each {
    width: 300px;
    /* height: 80px; */
    align-items: center;
    padding: 9px;
    display: flex;
}

.each p:nth-child(1) {
    font-weight: 500;
}

.each span {
    font-size: 13px;
}

.cd {
    font-weight: 500;
}

.shift {
    margin-top: -14px;
    font-size: 13px;
}

.side {
    width: 300px;
    overflow: auto;
    height: 90.2vh;
    background-color: #1d2345;
}

.yup {
    width: 50px;
    border-radius: 50%;
}

.elon {
    margin-top: -20px;
}

.gog:hover {
    background-color: rgba(255, 255, 255, 0.212);
    transition: all 0.5s linear;
}

.mara {
    height: 90.2vh;
    width: 100%;
}

.baffe {
    height: 90.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baffe p {
    font-size: 30px;
    font-weight: 700;
}

.pp {
    background-color: #f3f2ef;
}




















/* Media Queries */
@media (max-width: 950px) {
    .alone {
        flex-wrap: wrap;
    }

    .each {
        width: 45%;
    }
}

@media (max-width: 647px) {
    .each {
        width: 100%;
    }
}