.bop, .meo{
    font-size: 40px;
    font-weight: 500;
    color: #081a51;
    font-family: "Poppins", sans-serif;
}
.joj{
    margin-left: 20px;
    margin-top: 20px;
}
.flip{
    width: fit-content;
}
.nes{
    position: sticky;
    background-color: #F3F2EF;
    top: 0;
}
.kiss{
    width: 40%;
    height:300px;
    overflow: auto;
}
.kiss::-webkit-scrollbar{
    background-color: white;
    width: 3px;
}
.kiss::-webkit-scrollbar-thumb{
    background-color: #969592;
    border-radius: 10px;
    height: 100px;
}
.mn{
    font-size: 38px;
    font-weight: 800;
    /* background-color: aqua; */
    width: 400px;
    color: #081a51;
    font-family: "Montserrat", sans-serif;
}
.yur{
    padding: 0 3%;
}
.waist{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.fall{
    /* flex-wrap: wrap; */
    width: 100%;
}

@media (max-width: 1115px) {
    .mn{
        width: 100%;
    }
}
@media (max-width: 1056px) {
    .lin{
        flex-wrap: wrap;
    }
    .fall{
        flex-wrap: wrap;
    }
    .flip{
        width: 100%;
    }
}
@media (max-width: 744px) {
    .e{
        display: none;
    }
    .mn{
        font-size: 30px;
    }
}
@media (max-width: 682px) {
    .fall{
        flex-wrap: wrap;
    }
}
@media (max-width: 610px) {
   .bop{
        font-size:35px;
   }
}
@media (max-width: 370px) {
   .bop{
        font-size:30px;
   }
   .yur{
    padding: 0;
   }
}